@import url("https://fonts.googleapis.com/css??family=poppins:wght@300;400;500;600;700;800;900&display=swap");

Body{
	font-family: 'Poppins',sans-serif;
	background-color:skyblue;
	margin: 0;
	padding: 20px;
}

h1{
	background-color: white;
	color: wite;
	font-family: revert;
	font: black;
	padding: 20px;
	text-align: center;
}

.logo{
	font-size: 30px;
	font-weight: bold;
}

nav ul{
	display: flex;
	justify-content: center;
	list-style: none;
}

nav ul li{
	display: inline;
	margin: 0;
	justify-content: center;
	gap: 10px;
}

nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding: 10px 15px;
}

nav ul li a:hover{
	background-color: black;
	color: white;
	border-radius: 2px;
	transition: background-color 0.3s ease-in-out;
}

.wrapper{
	margin: 50px auto;
	width: 100%;
}

img{
	max-width: 320px;
	float: left;
	border: 3px solid white;
	border-radius: 10px;
	margin-right: 15px;
}

.text-box{
	color: black;
}

.text-box h2{
	font-size: 42px;
}

.text-box p{
	font-size: 16px;
}



.multimedia video{
	max-width: 100%; /* Makes video responsive*/
	height: auto; /* Maintains aspect ratio*/
	border:2px solid blue; /*Adds a border*/
	border-radius: 10px;/* Rounds the corners*/
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /*Adds a shadow*/
	display:block; /*Ensures it Behaves like a block element*/
	margin: 20px auto; /*centres the video*/
}

.multimedia p{
	text-align: center;
}

footer{
	text-align: center;
	padding: 10px;
	background-color: white;
	color: black;
	position: relative;
	bottom: 0;
	width: 100%;
}